.galeria {
	padding-top: 5vh;
	align-items: center;
	text-align: center;
}
  
.header {
	min-height: 100vh;
	display: inherit ;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
